@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*icon styles*/
.fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
}
.fi-social-youtube {
    color: red;
    font-size: 2rem;
}
.fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
}
i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
}
i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
}
.fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
}

.container {
   max-width: 1100px;
   margin: auto;
   padding: 0 2rem;
   display: flex;
   //flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 1280px;
   line-height: 1.4;
   background: url(./fiat.jpg);
   background-size: cover;
}
 .top-div{
   position:absolute;
   width: 55%;
   height: 34%;  
   background-color: rgba(255, 99, 71, 0.8);
   left: 800px;
   margin-top:-12%;
   
}

.ra{
   margin-top:3%;

}   


.conte {
  //height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3f2fd;

}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  //row-gap: 3px;
  //background-color: #fff;
}

.testimonial .image{
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 1%;
}

.testimonial .slide {
  display: flex;
  align-items: left;
  justify-conent: center;
  flex-direction: column;
}

.slide p {
   text-align: center;
   padding: 0 160px;
   font-size: 14px;
   font-weight: 400;
   color: #333;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0,0,0,0.1);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet{
  background-color: rgba(0,0,0,0.8);
}

.swiper-pagination-bullet-active{
  background-color: rgba(0,0,0,0.8);
}


.section{
  background-Color: #252121;
  display:flex;
  justify-content: space-between;
  padding: 40px;
  width 40px;
  margin: 10rem auto 0 auto;

}

.section img{
  height: 250px;
}

.section h1{
  margin: 0;
  color: greenyellow;
}

.section p{
  color: #c0bdbd;
  margin-right: 15px;
}






.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 20px 9%;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  color: #333;
  text-align: center;
}

.service .heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.service .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(300px, 1fr));
  gap: 20px;
}

.wrapper .box {
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
  transition: .5s;
}

.wrapper .box:hover{
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);

}
.box i {
  font-size: 60px;
  color: #7494ec;
}

.box h2{
  font-size: 25px;
}

.box p {
  margin: 10px 0 18px;
}

.box .btn {
  display: inline-block;
  padding: 8px 20px;
  background: #7494ec;
  border: 2px solid #7494ec;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: .5s;
}

.box .btn:hover {
  background: transparent;
  color: #7494ec;
}

@media screen and (max-width: 992px){
   .service {
      padding: 20px 5%;
  }
}

@media screen and (max-width: 350px){
   .service .wrapper {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

media (max-width: 750px){
  .container{

	padding: 0 0.25rem;
	}
   .slide p{
        padding: 0 20px;
   }
   .nav-btn{
       display:none;
    }
}
