@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body {
            font-family: questa-sans;
            //color: #555;
}

.top-bar, .top-bar ul {
    background-color: #ffffff; 
}

.info h1 {
    margin-bottom: 32px;
    padding-top: 20px;
    font-weight: 700;
}

.info p {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-top: 0;
    font-family: questa-sans, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.menu li a {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
}

        
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: Terminal-test;
    //font-weight: normal;
    //color: #333;
 }

.slider-background {
 overflow: hidden;
 width: 100vw;
 height: 100vh;
 position: relative;
}
 
.slider-background .slide-background {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-size: cover;
 background-position: center;
 animation: slider-background 12.5s infinite;
}
 
.slider-background .slide-background:nth-child(1) {
   background-image: url('https://plus.unsplash.com/premium_photo-1661879449050-069f67e200bd?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   animation-delay: 0s;
}

.slider-background .slide-background:nth-child(2) {
   background-image: url('https://images.unsplash.com/photo-1559297434-fae8a1916a79?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   animation-delay: -2.5s;
}

.slider-background .slide-background:nth-child(3) {
   background-image: url('https://images.unsplash.com/photo-1614976523626-d598aafd4fda?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   animation-delay: -5s;
}

.slider-background .slide-background:nth-child(4) {
   background-image: url('https://images.unsplash.com/photo-1532330384785-f94c84352e91?q=80&w=2011&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   animation-delay: -7.5s;
}

.slider-background .slide-background:nth-child(5) {
   background-image: url('https://unsplash.com/photos/white-and-black-truck-near-mountain-at-daytime-lq9PxpwDZUk');
   animation-delay: -10s;
}

@keyframes slider-background {
 0%, 16%, 100% {
   transform: translateX(0);
   animation-timing-function: ease;
 }
 20% {
   transform: translateX(-100%);
   animation-timing-function: step-end;
 }
 96% {
   transform: translateX(100%);
   animation-timing-function: ease;
 }

}




#testimonials{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.comments-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.comments-heading h1{
  font-family: Termina-test, sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  background-color: #202020;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 700; 
}

.comments-heading span{
  font-size: 1.3rem;
  text-align: center;
  color: 1.3rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: termina, sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}
.comments-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}

.comments-box{
   width: 500px;
   box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
   background-color: #ffffff;
   padding:: 20px;
   margin: 15px;
   cursor: pointer;
}

.profile-img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 10px;
}

.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
} 
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
   color: #979797;
   font-style: italic;
   font-weight: 700;
   line-height: 24px;
}

.reviews{
  color:#f9d71c;
}
.box-top{
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comments p {
  font-family: questa-sans;
  font-size: 0.9rem;
  color: #4b4b4b;
  letter-spacing: normal;
  font-family: questa-sans, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.comments-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .comments-box{
      width:45%;
      padding: 10px;

   }

}
@media(max-width:790px){
  .comments-box{
      width:100%;
   }
  .comments-heading h1{
       font-family: Termina-test, sans-serif;
       font-size: 1.4rem;
   }

}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
   }
   .reviews{
      margin-top: 10px;
   }
  
}
::selection{
   color:#ffffff;
   background-color:#252525;
}

.small-slide {
  max-width: 200px;
  min-width:200px;
  display:inline-block; 
}
.small-slide1 {
  vertical-align:top;
  max-width: 200px;
  min-width:200px;
  display:inline-block; 
}

.top-bar-left > .menu > li > a:hover {
  padding: 10px 12px;
  border: 1px solid #062949;
}

.top-bar-left ul.menu {
    padding-left: 50%;
}




.parallax {
   background: url("advantage.jpg");
   background-position: center center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
}
.parallax-inner {
   padding-top: 40%;
   margin-top:20%;
   padding-bottom: 10%;
}

h1 {
  text-align: center;
  font-size: 500%;
  color: #FFF;
  letter-spacing: 3;
}

.centered{
  margin: 30px auto;
  width: 50%;
  text-align: center;
}
.centered h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 75px;
    line-height: 42px;
}

.centered p {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 27px;

}


div#google-map{
  border: 1px solid #ccc;
  width: 500px;
  height: 300px;
  align-self: center;
  margin: 0 auto;
}

.feh-content * {
  font-family: 'uniform',sans-serif;
}
.feh-content h3 {
  font-family: Termina-test, sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 18px;
}

/*icon styles*/
.fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
}
.fi-social-youtube {
    color: red;
    font-size: 2rem;
}
.fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
}
i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
}
i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
}
.fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
}

/*.container {
   //max-width: 1100px;
   margin: auto;
   padding: 0 2rem;
   display: flex;
   //flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 1280px;
   line-height: 1.4;
   //background: url(./fiat.jpg);
   background-size: cover;
}*/
 .top-div{
   position:absolute;
   width: 55%;
   height: 44%;  
   //background-color: rgba(255, 99, 71, 255);
   background-color:#062949;
   left: 40%;
   margin-top:-12%;
   border-top: 5px solid coral;
   
}

.ra{
   margin-top:3%;

}   


.conte {
  //height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 20%;
}

.testimonial {
  position: relative;
  max-width: 90%;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
  //row-gap: 3px;
  //background-color: #fff;
}

.testimonial .image{
  height: 400px;
  width: 708px;
  object-fit: cover;
  border-radius: 1%;
}

.testimonial .slide {
  display: inline-block;
  align-items: left;
  justify-conent: center;
  flex-direction: column;
}

.slide p {
   text-align: center;
   font-family: questa-sans, sans-serif;
   padding: 0 160px;
   font-size: 14px;
   font-weight: 400;
   color: #333;
}

/* swiper button css */
.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(0,0,0,0.1);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}

.swiper-pagination-bullet{
  background-color: rgba(0,0,0,0.8);
}

.swiper-pagination-bullet-active{
  background-color: rgba(0,0,0,0.8);
}


.section{
  background-Color: #252121;
  display:flex;
  justify-content: space-between;
  padding: 150px;
  width 40px;
  //margin: 10rem auto 0 auto;
  //margin:0.1rem auto 0 auto;
}

.section img{
  height: 650px;
  width: 750px;
}

.section h1{
  margin: 0;
  color: greenyellow;
}

.section p{
  font-family: questa-sans, sans-serif;
  color: #c0bdbd;
  margin-right: 15px;
}


.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 20px 9%;
  background: linear-gradient(to right, #333, #000000);
  color: #333;
  text-align: center;
}

.service .heading {
  font-size: 40px;
  margin-bottom: 20px;
}

.service .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,  minmax(300px, 1fr));
  gap: 20px;
}

.wrapper .box {
  padding: 30px 20px;
  //background: #fff;
  border-radius: 10px;
  transition: .5s;
}

.wrapper .box:hover{
  transform: scale(1.03);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);

}
.box i {
  font-size: 110px;
  color: #fff;
}

.box h2{
  font-family: Termina-test, sans-serif;
  font-size: 25px;
}

.box p {
  font-family: questa-sans, sans-serif;
  margin: 10px 0 18px;
}

.box .btn {
  display: inline-block;
  padding: 8px 20px;
  background: #7494ec;
  border: 2px solid #7494ec;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: .5s;
}

.box .btn:hover {
  background: transparent;
  color: #7494ec;
}

@media screen and (max-width: 992px){
   .service {
      padding: 20px 5%;
      margin-top:40%;
  }
   .top-div{
      padding-bottom: 50%; 
  }
   
}

@media screen and (max-width: 350px){
   .service .wrapper {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .top-div{
      padding-bottom: 60%; 
  }

}


@media screen and (max-width: 240px){
   .service .wrapper {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .top-div{
      padding-bottom: 65%; 
  }

}

media (max-width: 750px){
  .container{

	padding: 0 0.25rem;
	}
   .slide p{
        font-family: questa-sans, sans-serif;
        padding: 0 20px;
   }
   .nav-btn{
       display:none;
    }
   .top-div{
      padding-bottom: 50%; 
  }
}
